/* LANDING PAGE STYLES */
#landingPage {
  margin: 60px 0; }
  #landingPage h1 {
    margin: 0 0 18px;
    padding: 10px 0;
    color: #000;
    font-family: Roboto Condensed;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.1; }
    #landingPage h1:after {
      content: '';
      width: 80px;
      height: 4px;
      background-color: #ed1c24;
      display: block;
      margin: 20px auto 0 auto; }
  #landingPage h2 {
    color: #ed1c24; }
  #landingPage h3 {
    color: #ed1c24;
    line-height: 1.3; }
  #landingPage h4 {
    font-size: 26px; }
  #landingPage h5 {
    font-size: 24px;
    color: #666;
    font-weight: 300; }
  #landingPage .img-responsive {
    display: inline-block;
    padding-bottom: 1px; }
  #landingPage.luggage .homeTestimonials {
    margin: 0 0 30px 0; }

#landingPage section.landing-promo-strip {
  background: #000 url("../images/feature-bg-strip.jpg") center no-repeat;
  background-size: cover;
  padding: 50px 0; }
  #landingPage section.landing-promo-strip h2 {
    color: #ed1c24;
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 140%;
    font-weight: 600; }
    #landingPage section.landing-promo-strip h2 a:hover,
    #landingPage section.landing-promo-strip h2 a:hover .fa {
      color: #fff;
      text-decoration: none; }
  #landingPage section.landing-promo-strip h3 {
    color: #fff;
    line-height: 140%;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 600; }
  #landingPage section.landing-promo-strip .fa {
    color: #ed1c24; }
  #landingPage section.landing-promo-strip .bgWrap {
    background-color: rgba(32, 32, 32, 0.7) !important;
    padding: 40px;
    float: left; }

.noPadBtm {
  padding-bottom: 0 !important; }

.landing-intro {
  margin-bottom: 40px; }

.available-colors img {
  width: 60px;
  height: 60px;
  margin-bottom: 5px; }

#landingPage section.landing-feature {
  display: block;
  width: 100%;
  padding: 70px 0 50px 0;
  background-color: #E8E8E8;
  margin: 50px 0 330px 0; }
  #landingPage section.landing-feature img {
    margin-bottom: -330px;
    mix-blend-mode: darken; }
  #landingPage section.landing-feature.luggage {
    padding: 100px 0;
    margin: 0 0 0 0;
    background: url(//cdn.shopify.com/s/files/1/2551/6796/files/bg-luggage-exterior.jpg) top center no-repeat;
    background-size: cover; }
    #landingPage section.landing-feature.luggage h1 {
      color: #fff;
      padding: 10px 0 0 0; }
      #landingPage section.landing-feature.luggage h1:after {
        height: 0;
        margin: 0 auto;
        background-color: inherit;
        padding: 0; }
    #landingPage section.landing-feature.luggage h2 {
      color: #B2B3B2;
      font-style: italic;
      font-weight: 500; }
    #landingPage section.landing-feature.luggage li {
      color: #fff;
      font-size: 24px; }

#landingPage section.landing-feature-alt {
  display: block;
  width: 100%;
  padding: 100px 0;
  background-color: #E8E8E8;
  margin: 0; }
  #landingPage section.landing-feature-alt h1 {
    padding: 10px 0 0 0;
    margin: 0; }
    #landingPage section.landing-feature-alt h1:after {
      height: 0;
      margin: 0 auto;
      background-color: inherit;
      padding: 0; }
  #landingPage section.landing-feature-alt h2 {
    margin: 0; }

#landingPage section.landing-feature-alt2 {
  display: block;
  width: 100%;
  padding: 100px 0;
  background: #E8E8E8 url("../images/bg-grey-dithered.png") 0 0 repeat;
  margin: 0; }
  #landingPage section.landing-feature-alt2 h1 {
    padding: 10px 0 0 0;
    margin: 0; }
    #landingPage section.landing-feature-alt2 h1:after {
      height: 0;
      margin: 0 auto;
      background-color: inherit;
      padding: 0; }
  #landingPage section.landing-feature-alt2 h2 {
    margin: 0; }

section.landing-specs {
  padding: 70px 0; }
  section.landing-specs .specs-wrap {
    background-color: #ed1c24;
    padding: 40px;
    margin-top: 30px; }
  section.landing-specs ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  section.landing-specs li {
    position: relative;
    margin: 0 0 5px 0;
    padding: 0 0 0 30px;
    font-size: 20px;
    color: #fff; }
    section.landing-specs li::before {
      content: '\f00c';
      font-family: 'FontAwesome';
      position: absolute;
      top: 0;
      left: 0; }

section.landing-promo {
  margin: 0 0 50px 0; }

section.gallery {
  padding: 80px 0; }

section.landing-expose {
  margin: 70px 0 30px 0; }
  section.landing-expose img {
    margin: 20px 0 20px 0; }
  section.landing-expose h4 {
    font-weight: bold;
    font-style: italic;
    font-size: 26px;
    padding: 0 20px; }
  section.landing-expose p {
    font-size: 18px;
    padding: 0 20px; }

.display-table {
  margin-bottom: 40px; }

img.featured-img {
  mix-blend-mode: darken; }

.btn.scrollto {
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 12px;
  color: #777; }
  .btn.scrollto:hover {
    background-color: #eee; }

.spacer50 {
  height: 50px;
  width: 100%;
  display: block; }

.spacer30 {
  height: 30px;
  width: 100%;
  display: block; }

.overlay-box {
  position: absolute;
  bottom: 0px;
  right: 30px;
  z-index: 2; }
  .overlay-box img {
    max-width: 220px;
    height: auto; }

@media (max-width: 1199px) {
  section.landing-feature {
    margin-bottom: 280px; }
    section.landing-feature img {
      margin-bottom: -280px; }

  .overlay-box {
    position: absolute;
    bottom: 0px;
    right: 0px; }
    .overlay-box img {
      max-width: 200px; } }
@media (max-width: 991px) {
  section.landing-feature {
    margin-bottom: 250px; }
    section.landing-feature img {
      margin-bottom: -250px; }

  .overlay-box {
    position: absolute;
    bottom: 0px;
    right: 0px; }
    .overlay-box img {
      max-width: 140px; } }
@media (min-width: 992px) {
  #landingPage.backpacks .bingoFlexRow .col-md-4:first-child {
    margin-left: 18%; } }
@media (min-width: 768px) {
  .display-table {
    display: table;
    table-layout: fixed; }

  .display-cell {
    display: table-cell;
    vertical-align: middle;
    float: none; } }
@media (max-width: 767px) {
  #landingPage h1 {
    font-size: 30px; }
  #landingPage h2 {
    font-size: 26px; }
  #landingPage h3 {
    font-size: 20px; }
  #landingPage h3 {
    font-size: 20px; }
  #landingPage section.landing-promo-strip h2, #landingPage section.landing-promo-strip h3 {
    font-size: 26px; }
  #landingPage section.landing-promo-strip .bgWrap {
    padding: 20px;
    float: none; }

  section.landing-feature {
    margin-bottom: 200px; }
    section.landing-feature img {
      margin-bottom: -200px; }

  .spacer50 {
    height: 20px; }

  .overlay-box {
    display: none; }

  #landingPage section.landing-feature-alt,
  #landingPage section.landing-feature-alt2 {
    padding: 50px 0; } }
@media (max-height: 800px) {
  section.landing-feature-alt img {
    max-height: 700px;
    width: auto; }

  section.landing-feature-alt2 img {
    max-height: 700px;
    width: auto; } }

/*# sourceMappingURL=styles.css.map */
